p,
li{
    text-align: justify;
    line-height: 1.5;
}

section {
    margin-top: 8rem;
}

/* 结束 */

#signature {
    color: #aaaaaa;
    text-align: right;
    /* margin-top: 8rem; */
    margin: 8rem 0;
}

/* 禁用常规文章样式 */

article::after{
    content: "";
}