a,
p,
blockquote,
li{
    text-align: justify;
    line-height: 1.5;
}

button {
    display: block;
    margin: 0 auto;
    background-color: inherit;
    border: 2px solid black;
    border-radius: 50px;
    padding: 0.2em 0.5em;
}

button:hover {
    background-color: #e1c8ff;
    border-color: #8e4fdb;
    color: #8e4fdb;
}

blockquote {
    border-left: 0.2em solid #eee;
    border-right: 0.2em solid #eee;
    margin: 1em auto;
    padding: 0.5em 0.5em;
}

cite::before {
    content: "——";
}

blockquote p {
    margin-top: 0;
    margin-bottom: 0;
}

cite {
    display: block;
    text-align: right;
    color: #aaa;
    margin-top: -0.5lh;
    margin-bottom: 0;
    font-style: italic;
}

section {
    margin-top: 8rem;
}

img {
    display: block;
    width: min(100%, 500px);
    margin: 0 auto;
}

.bigimg {
    width: 100%;
}

.imgs {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.imgs > figure {
    margin: 0;
}

figure img {
    width: auto;
    margin: 0;
}

figcaption {
    margin: 0.3em;
    text-align: center;
    font-size: smaller;
    color: #aaa;
}


/* 结束 */
article::after{
    content: "结束";
    display: block;
    margin: 8rem 0;
    text-align: right;
    color: #aaa;
}

#signature {
    text-align: right;
    margin-top: 8rem;
}

#article-header-tags::before {
    content: "#";
}