a,
p,
blockquote,
li{
    text-align: justify;
    line-height: 1.5;
}

blockquote {
    border-left: 0.2em solid #eee;
    border-right: 0.2em solid #eee;
    margin: 1em auto;
    padding: 0.5em 0.5em;
}

cite::before {
    content: "——";
}

blockquote p {
    margin-top: 0;
    margin-bottom: 0;
}

cite {
    display: block;
    text-align: right;
    color: #aaa;
    margin-top: -0.5lh;
    margin-bottom: 0;
    font-style: italic;
}

section {
    margin-top: 8rem;
}

img {
    display: block;
    width: min(90vw, 500px);
    margin: 0 auto;
}

.bigimg {
    width: 100%;
}

/* 结束 */
article::after{
    content: "结束";
    display: block;
    margin: 8rem 0;
    text-align: right;
    color: #aaa;
}

#signature {
    text-align: right;
    margin-top: 8rem;
}