@font-face {
    font-family: Lora;
    src: url(../fonts/Lora.ttf) format("truetype"),
         url(../fonts/Lora-Italic.ttf) format("truetype");
    /* 使中文引号全宽显示 */
    unicode-range: U+0-2017, U+201A-201B, U+201E-10FFFF;
}

@font-face {
    font-family: 宋体引号;
    src: local(宋体),
         local(SimSum);
    unicode-range: U+2018, U+2019, U+201C, U+201D; 
}

@font-face {
    font-family: 思源宋体;
    src: url(../fonts/SourceHanSerifSC-VF.otf.woff2) format("woff");
}

html {
    font-size: 10px;
    font-family: Lora, 思源宋体, 宋体引号, "Times New Roman", Times, 宋体, serif;
    font-style: normal;
    font-weight: 500;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1; 
}

::selection {
    background: #e1c8ff;
    color: #8e4fdb;
}

a {
    color: inherit;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    border-bottom: 1.5px solid;
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    min-height: calc(5vh + 10px);
    -webkit-border-radius: 2em;
    border-radius: 3em;


}

header hr {
    margin-top: 0.3lh;
    border: black 1px solid;
    width: 83%;
}

.page-header,
main,
.page-footer {
    width: 80%;
    margin: 0 auto;
}


header,
main,
footer {
    font-size: calc(1.5rem + 0.5vw);
}

/* 原高2.7lh */
header {
    position: -webkit-sticky;
    position: sticky;
    overflow-y: hidden;
    top: 0;
    height: 4lh;
    background: linear-gradient(rgb(255, 255, 255, 100%) 67%, rgb(255, 255, 255, 0));
    width: 100%;
}

#page-header-about {
    color: #aaaaaa;
}

h1 {
    font-size: calc(3rem + 1vw);
    margin: 0 auto;
}

h1::first-line {
    margin-top:;
}

/* 原高1.6lh */
@media screen and (min-width: 400px) {
    header {
        height: 2.8lh;
        background: linear-gradient(rgb(255, 255, 255, 100%) 67%, rgb(255, 255, 255, 0));
        margin-bottom: 2lh;
    }

    .page-header {
        display: grid;
        margin-top: 0.3lh;
        grid-template-columns: repeat(2, auto);   
    }
    
    #page-header-about {
        text-align: right;
        color: #000000;
        font-style: normal;
    }
} 

@media screen and (max-width: 400px) {
    h1 {
        font-size: 3rem;
    }
    .article-header {
        font-size: 1.5rem;
    }
}


.article-header {
    margin-bottom: 3lh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.article-header-info {
    color: #aaaaaa;
    display: grid;
    flex-grow: 1;
}

div#article-header-title {
    margin-right: 2em;
}

div#article-header-date {
    text-align: right;
}


div#article-header-tags {
    text-align: right;
    align-self: end;
}

p {
    text-align: justify;
    line-height: 1.25lh;
}

blockquote {
    border-left: 0.5em solid #eee;
    border-right: 0.5em solid #eee;
    margin: 0 auto;
    padding: 0.5lh 0.5em;
}

blockquote p {
    margin-top: 0;
}

.cite {
    text-align: right;
    color: #aaa;
    margin-top: -0.5lh;
    margin-bottom: 0;
    font-style: italic;
}

.end {
    margin-top: 3lh;
    text-align: right;
    color: #aaa;
}

footer hr {
    margin-bottom: 0.3lh;
    display: block;
    border: black 1px solid;
    text-align: center;
    width: 83%;
}

.page-footer {
    display: flex;
    margin-bottom: 0.3lh;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    width: 100%;
    font-style: italic;
    color: #aaaaaa;
}

#page-footer-author {
    margin-right: 2em;
}

#page-footer-motto {
    flex-grow: 1;
    text-align: right;
}