@font-face {
    font-family: Lora;
    src: url(../fonts/Lora.ttf) format("truetype"),
         url(../fonts/Lora-Italic.ttf) format("truetype");
    /* 使中文引号全宽显示 */
    unicode-range: U+0-2017, U+201A-201B, U+201E-10FFFF;
}

@font-face {
    font-family: 宋体引号;
    src: local(宋体),
         local(SimSum);
    unicode-range: U+2018, U+2019, U+201C, U+201D; 
}

::selection {
    background: #e1c8ff;
    color: #8e4fdb;
}

a {
    box-sizing: border-box;
    color: inherit;
    height: 1lh;
    /* height: 1.25lh; */
    width: -moz-fit-content;
    width: fit-content;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    border-bottom: 1.5px solid;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    min-height: calc(5vh + 10px);
    -webkit-border-radius: 2em;
    border-radius: 3em;
}

html {
    font-size: 10px;
    font-family: Lora, "Source Han Serif SC VF", 宋体引号, "Times New Roman", Times, 宋体, SimSun, serif;
    font-style: normal;
    font-weight: 530;
    font-variation-settings: 
    "wght" 530;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
}

main,
footer {
    font-size: calc(1.7rem + 0.5vw);
}

main,
header,
.page-footer-flex {
    width: 80vw;
    margin: 0 auto;
}

header {
    display: table;
    height: 100vh;
    /* font-size: calc(4em + 3vw); */
    font-size: calc(2.8em + 3vw);
}

.page-header {
    display: table-cell;
    vertical-align: middle;
}

.page-header-title,
.page-header-about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page-header-title {
    margin-bottom: 1lh;
    width: 8em;
}

.page-header-title > div {
    line-height: 1lh;
    flex-grow: 1;
}

.page-header-about {
    display: grid;
    width: 9em;
    grid-template-rows: repeat(2, 1lh);
}

#page-header-arrow {
    position: absolute;
    right: 10vw;
    align-self: self-end;
    /* z-index: -1; */
}

.page-header-about-text {
    background: linear-gradient(to right, rgb(255, 255, 255, 100%) 93.75%, rgb(255, 255, 255, 0));
    line-height: 1lh;
    white-space: nowrap;
}

@media screen and (max-width: 480px) {
    #page-header-arrow {
        position: inherit;
        margin: 0 auto;
        margin-top: 1lh;
    }
    /* .page-header-title { */
        /* width: auto; */
    /* } */
    .page-header-about {
        display: block;
    }
    .page-header-about-text {
        text-align: left;
    }


    }

#ash {
    text-align: right;
    align-self: self-end;
}

/* #asterisk {
    -webkit-animation: rotate 6s linear infinite;
    text-align: center;
    transform-origin: 50% 35%;
    color: #8e4fdb;
}

@-webkit-keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
} */

#asterisk {
    animation: rotate 6s linear infinite;
    -webkit-animation: rotate 6s linear infinite;
    -webkit-user-drag: none;
    user-select: none;
    display: inline;
    margin: auto;
    transform-origin: 50% 50%;
    width: calc(0.4em + 0.3vw);
    height: calc(0.4em + 0.3vw);
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}



.page-content {
    display: grid;
    grid-template: repeat(2, auto);
}

main {
    margin-top: 2lh;
    height: fit-content;
    margin-bottom: 0.5lh;
    display: flex;
    flex-direction: row;
}

#column-left {
    text-wrap: nowrap;
}

.column-left {
    width: calc(12rem + 9vw);
    display: grid;
    white-space: nowrap;
    grid-template-columns: repeat(2, auto);
}

#column-left-0 a {
    /* box-sizing: border-box; */
    border-bottom: 1.5px solid;
}

#column-left-2,
#column-left-3 {
    grid-template-rows: repeat(2, 1.25lh);
}

#column-left-3 {
    margin-top: auto;
    color: #aaaaaa;
    vertical-align: bottom;
}

#nav-links,
#nav-contact {
    /* line-height: 1lh; */
    height: 1;
    height: 1lh;
    align-self: self-end;
}


.nav {
    width: 2em;
}

#column-left {
    position: -webkit-sticky;
    position: sticky;
    top: 10vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.column-left {
    margin-top: 3rem;
}

.column-left:first-child {
    margin-top: 0;
}

@media screen and (orientation:portrait) {

    #nav-experience,
    #nav-notes,
    #nav-links,
    #nav-contact {
        margin-top: 0.5em;
    }
}

@media screen and (max-width: 480px) {
    .column-left {
        display: flex;
        flex-direction: column;
        width: 2em;
        margin-right: 2em;
        gap: 0.5em;
    }
    #nav-experience,
    #nav-notes,
    #nav-links,
    #nav-contact {
        margin-top: 0;
    }

}

#column-right {
    display: flex;
    flex-direction: column;
    /* gap: 1.25lh; */
}

article {
    margin-top: 6rem;
}

article:first-child {
    margin-top: 0;
}

.article-title {
    margin: 0;
    font-weight: 500;
    font-variation-settings: "wght" 500;
    font-size: 2em;
}

.article-title a {
    line-height: 1lh;
    height: 1lh;
}

.article-date {
    margin: 0.3lh 0;
    font-size: 0.8em;
    color: #aaaaaa;
}

.article-summary {
    margin-top: 0.3lh;
    margin-bottom: 0;
    text-align: justify;
}

.page-footer-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0.3em 1em 0.3em;
    border-top: 1px solid black;
}

footer {
    margin-top: 8rem;
    width: 100%;
    font-style: italic;
    color: #aaaaaa;
}

#page-footer-author {
    margin-right: 2em;
}

#page-footer-motto {
    flex-grow: 1;
    text-align: right;
}

/* 链接悬浮显示纹样 */

@media (any-hover: hover) {
    body::before {
      content: "";
      position: fixed;
      height: 200%;
    
      background-image: url("../images/sigil.svg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: center; 
    
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    
      z-index: -1;
      opacity: 0;
      transition: opacity 0.5s;
    
      overflow: hidden;
    }
    
    body:has(a:hover)::before {
      opacity: 1;
    }
  }